<%= form_with(model: [@teacher, @student]) do |form| %>

  <h1>Editing student</h1>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="field">
  <%= form.label :attended %>
  <%= form.text_field :attended %>
  </div>

  <div>
    <%= form.submit "Update Student" %>
  </div>
<% end %>

<div>
  <% # link_to "Show this student", teacher_student_path(@teacher, @student) %> 
  <%= link_to "Back to students", @teacher %>
</div>
