<p style="color: green"><%= notice %></p>

<h1>Teachers Home</h1>


<table>
  <tr>
  <th>Teacher's Name</th>
  <th>Age</th>
  <th>Visited</th>
  <th>Actions</th>
  </tr>
  
  <% # * The next ruby code encapsulates the <tr> </tr> content to repeat those rows for each student entries %>
  <% @teachers.each do |teacher| %>
  <tr>
  <td><%= teacher.name %></td>
  <td><%= teacher.age %></td>
  <td><%= teacher.visited %></td>
  <td><%= link_to "Show this teacher", teacher %></td>
  </tr>
  <% end %>
  </table>



<%= link_to "New teacher", new_teacher_path %>
