<p style="color: green"><%= notice %></p>

<%= render @teacher %>

<div>
  <%= link_to "Edit this teacher", edit_teacher_path(@teacher) %> |
  <%= link_to "Back to teachers", teachers_path %>

  <%= button_to "Destroy this teacher", @teacher, method: :delete %>
</div>

# Added new code for comparison
</br> </br></br> </br>
<h1><%= @teacher.name %></h1>
<p><%= link_to 'Add Student', new_teacher_student_path(@teacher) %></p>

<h2>Students</h2>
<ul>
  <% @teacher.students.each do |student| %>
    <li><%= student.name %> - <%= student.grade %></li>
  <% end %>
</ul>